<!DOCTYPE html>
<html>
  <script src="//www.gstatic.com/cast/sdk/libs/caf_receiver/v3/cast_receiver_framework.js"></script>
  <script type="module" src="<%= latestCastJS %>"></script>
  <style>
    body {
      background-color: #fafafa;
      font-size: 24px;
      padding: 0;
      margin: 0;
    }
  </style>
</html>
